extends layout

block content
    h1= title
    - var image_names = ["image1.jpg","image2.jpg","image3.jpg","image4.png","image5.jpeg"];
    - for(let i =0; i<3; i++){
        - let numerical = Math.floor(Math.random()*5)
        img(src=`/images/${image_names[numerical]}` alt ="images" height='300px' width='300px')
    - }
